* {
    box-sizing: border-box;
}

nav {
    background-color: navy;
    z-index: 1000;
}

sup {
    font-size: 8px;
}

.center-col {
    margin-top: 100px;
}

#andersen,
#byui,
#streamit {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.card {
    border: none !important;
}